$tallin:100px;
html{ 
    background: url(../img/Webtrans.svg) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 328px;;
}
body{
    background: transparent;
}

.talldiv{
    padding-top: $tallin;
    padding-bottom: $tallin;
    margin-right: -15px;
}

@media (min-width: 768px){
.home-badge{
    padding-top: $tallin;
    padding-bottom: $tallin;
    margin-right: -15px;
    a{
        color:green;
        margin-bottom:-5px;
        padding-right:5px;

    }
    p{
        margin-left: 100px;
        margin-top:-23px
    }
    a:hover{
    text-decoration: none;
    font: 1rem bold;
    }
}

.ulview{
    display: grid;
    grid-template-columns: 50% auto;
    height:auto;
    align-self: center;
    margin: 0 50px;
    ul{
        list-style-type: none;
        perspective: 1000px;
    }
    ul li{
        display:grid;
        grid-template-columns: 20% auto;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
        transform: rotateY(-7deg) rotateX(0deg);
        position: absolute;
        border-bottom: 4px solid rgba(0,0,0,0.2);
        mix-blend-mode: multiply;
    }
    ul li:nth-child(1){
        background:#bfe8fc;
        top:-240px;
        z-index:3;
    }
    ul li:nth-child(2){
        background:#fa9458;
        top:-120px;
        z-index:2;
    }
    ul li:nth-child(3){
        background:#e9bffc;
        z-index:1;
    }
    ul li:nth-child(4){
        background:#f38cab;
        top:120px;
    }
    ul li:hover{
        transform: rotateY(-22deg) rotateX(7deg) scale(1.03);
        transition: transform .4s ease-out;
        z-index:3;
        mix-blend-mode:normal;
    }
    img{
        width: 70px;
    }
    h1{
        font-size: 3em;
        margin-top: 0;
    }
    #left > p{
        color : gray;
        line-height: 1.5em;
    }
}



}